{% extends 'index.html' %}

{% block main_content %}
    <div style="height: 120px; background: rgba(26, 24, 22, 0.85)"></div>
    <section id="reserves">
    <div class="container">
        {% for reservation in reservations %}
            <div class="col-md-12 col-md-offset-1 p-3 mb-lg-1" style="background: #fff8f1">
                <div class="row p-1">
                    <div class="col-md-3">
                        {{ reservation.name }}
                    </div>
                    <div class="col-md-3">
                        {{ reservation.email }}
                    </div>
                    <div class="col-md-3">
                        {{ reservation.phone }}
                    </div>
                    <div class="col-3">
                        <a href="{% url 'manager:reservation' reservation_id=reservation.pk %}" class="book-a-table-btn" style="margin-left: 100px">View</a>
                    </div>
                </div>
            </div>
        {% empty %}
            <h1 class="text-center">There is no reservation requests</h1>
        {% endfor %}
    </div>
    </section>

{% endblock %}